<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HEALED.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{189,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,42}}</string>
                <key>sourceSize</key>
                <string>{189,42}</string>
            </dict>
            <key>_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,499},{82,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,40}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>_1_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,357},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>_200.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,221},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>_2_points.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,132},{171,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,27}}</string>
                <key>sourceSize</key>
                <string>{171,27}</string>
            </dict>
            <key>_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,288},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>_500.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,263},{86,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,40}}</string>
                <key>sourceSize</key>
                <string>{86,40}</string>
            </dict>
            <key>_54321.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,31},{140,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,40}}</string>
                <key>sourceSize</key>
                <string>{140,40}</string>
            </dict>
            <key>best.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,305},{97,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,39}}</string>
                <key>sourceSize</key>
                <string>{97,39}</string>
            </dict>
            <key>big_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{141,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,27}}</string>
                <key>sourceSize</key>
                <string>{141,27}</string>
            </dict>
            <key>blind.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,466},{95,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,27}}</string>
                <key>sourceSize</key>
                <string>{95,27}</string>
            </dict>
            <key>break_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,219},{164,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,27}}</string>
                <key>sourceSize</key>
                <string>{164,27}</string>
            </dict>
            <key>candy.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,248},{160,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,80}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>chip_lamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,84},{20,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,10}}</string>
                <key>sourceSize</key>
                <string>{20,10}</string>
            </dict>
            <key>chips_candy.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,181},{30,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,10}}</string>
                <key>sourceSize</key>
                <string>{30,10}</string>
            </dict>
            <key>chips_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,330},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>chips_flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,193},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>crystal_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,246},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>crystal_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,424},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,40}}</string>
                <key>sourceSize</key>
                <string>{55,40}</string>
            </dict>
            <key>crystal_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,499},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,40}}</string>
                <key>sourceSize</key>
                <string>{55,40}</string>
            </dict>
            <key>decrease.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{155,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,27}}</string>
                <key>sourceSize</key>
                <string>{155,27}</string>
            </dict>
            <key>explosive.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,103},{172,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,27}}</string>
                <key>sourceSize</key>
                <string>{172,27}</string>
            </dict>
            <key>fast_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,190},{168,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,27}}</string>
                <key>sourceSize</key>
                <string>{168,27}</string>
            </dict>
            <key>fire_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,387},{158,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,28}}</string>
                <key>sourceSize</key>
                <string>{158,28}</string>
            </dict>
            <key>flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,424},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,417},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>good.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,330},{176,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,63}}</string>
                <key>sourceSize</key>
                <string>{176,63}</string>
            </dict>
            <key>green_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,417},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>green_wall_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,518},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,506},{66,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,27}}</string>
                <key>sourceSize</key>
                <string>{66,27}</string>
            </dict>
            <key>high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{334,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,53}}</string>
                <key>sourceSize</key>
                <string>{334,53}</string>
            </dict>
            <key>increase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{158,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,28}}</string>
                <key>sourceSize</key>
                <string>{158,28}</string>
            </dict>
            <key>lamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,139},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>light_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,161},{169,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,27}}</string>
                <key>sourceSize</key>
                <string>{169,27}</string>
            </dict>
            <key>magnet.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,73},{131,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,28}}</string>
                <key>sourceSize</key>
                <string>{131,28}</string>
            </dict>
            <key>main_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{280,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,40}}</string>
                <key>sourceSize</key>
                <string>{280,40}</string>
            </dict>
            <key>min_1_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,395},{116,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,27}}</string>
                <key>sourceSize</key>
                <string>{116,27}</string>
            </dict>
            <key>no_bad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{245,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,63}}</string>
                <key>sourceSize</key>
                <string>{245,63}</string>
            </dict>
            <key>protection.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{201,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,27}}</string>
                <key>sourceSize</key>
                <string>{201,27}</string>
            </dict>
            <key>slow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>small_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{189,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,27}}</string>
                <key>sourceSize</key>
                <string>{189,27}</string>
            </dict>
            <key>star_lite.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,518},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>star_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,499},{70,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,45}}</string>
                <key>sourceSize</key>
                <string>{70,45}</string>
            </dict>
            <key>stone_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{195,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,27}}</string>
                <key>sourceSize</key>
                <string>{195,27}</string>
            </dict>
            <key>teeth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,436},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>teeth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>very_good.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,80}}</string>
                <key>sourceSize</key>
                <string>{362,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gfx2.pvr.ccz</string>
            <key>size</key>
            <string>{512,546}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a000dcc08c22434be52bc89d179ae758$</string>
            <key>textureFileName</key>
            <string>gfx2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
